@font-face {
    font-family: '阿里妈妈方圆体 VF';
    font-display: swap;
    src: url('/config/fonts/AlimamaFangYuanTiVF-Thin.woff2') format("woff2");
    font-style: normal italic;
	font-weight: 100 900;
	font-stretch: 10% 300%;
}

body {
    font-family: '阿里妈妈方圆体 VF' !important;
}

.title {
    font-family: '阿里妈妈方圆体 VF' !important;
}

.categoryButtonText {
    font-family: 'Alibaba Fonts' !important;
}