@font-face {
    font-family: 'moonbridge';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/TaylorLottner/CDN@master/TYPES/moonbridge/moonbridge.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    ascent-override: 100%;
    descent-override: 20%;
    line-gap-override: normal;
    advance-override: 10;
}

body {
    font-family: 'moonbridge' !important;
}

.title {
    font-family: 'moonbridge' !important;
}

.categoryButtonText {
    font-family: 'moonbridge' !important;
}